### Assignment 2

Congratulations on completing the first assignment. Now, we will tackle some more basic functions to sharpen your programming skills. 

Below I provided some examples for you.

### EX3. Financial data cleaning primer

In this task I will guide you what can happen in financial datasets. (Things I deal always deal with)
We have to know what is a separator. A separator is an instrument that splits up entries in some array.

In [5]:
# When we collect data, we sometimes see this format. This format is not very ideal for analysis, because there are separator ";" in between objects. 
# Our objective here is to separate these values and group them together in a tuple. Tuple is great for storing fix data types.
# Remember, strings can be large in terms of memory usage. It is better to convert string numbers to integers or float. i.e. int(), float()

instrument = 'IF1901;IF1902;IF1903;IF1904;IF1905'
open       = '121.15;146.07;153.30;166.15;172.51'
close      = '123.62;153.77;155.83;167.30;175.12'


instrument = instrument.split(";")
open       = open.split(";")
close      = close.split(";")
data = [('instrument', 'open_price', 'close_price')]

for i in range(len(instrument)):
    data.append((instrument[i], float(open[i]), float(close[i])))
data

[('instrument', 'open_price', 'close_price'),
 ('IF1901', 121.15, 123.62),
 ('IF1902', 146.07, 153.77),
 ('IF1903', 153.3, 155.83),
 ('IF1904', 166.15, 167.3),
 ('IF1905', 172.51, 175.12)]

##### For the next couple of class, we will start diving into numpy and pandas. These will be the most fundamental tools for data analysis in financial industry.

# Your turn!

### Q6. Find the average of a list of values

##### Input : [2.3, 1.24, 212.4, 3.5, 1]
##### Output: 44.088

In [1]:
def mean(num):

In [2]:
mean([2.3, 1.24, 212.4, 3.5, 1])

44.088

### Q7. Merge 2 sorted lists (Easy)

This task require you to merge 2 list of integers together in ascending order. Simple

##### Input: l1 = [2,1,3], l2 = [1,3,4]
##### Output: [1,1,2,3,3,4]

In [ ]:
def merge(l1, l2):

In [ ]:
merge([2,1,3], [1,3,4])

### Q8. Calculate the shortest distance among coordinates (Intermediate)

In this example, coordinates would be presented as a tuple of 2 elements : (x, y). Your target is to find the shortest euclidean distance among these coordinates. 

##### The input of the coordinates is a list. 
##### The output is a list contains the followings: [d, c1 , c2]
where d is the shortest distance among coordinate1 and coordinate2,
 and c1 and c2 are coordinate1 and coordinate 2 respectively

In [ ]:
def shortest(coordinates):

In [ ]:
shortest([(1,2), (12,5), (0.5,3), (7,-4), (-2,-13)])

### Q9. Two Sums (Hard)

Given an array of integers numsÂ and an integer target, return indices of the two numbers such that they add up to target.

You may assume that each input would have exactly one solution, and you may not use the same element twice.

You can return the answer in any order.

Example 1:

##### Input: nums = [2,7,11,15], target = 9
##### Output: [0,1]
##### Output: Because nums[0] + nums[1] == 9, we return [0, 1].

Example 2:

##### Input: nums = [3,2,4], target = 6
##### Output: [1,2]

Example 3:

##### Input: nums = [3,3], target = 6
##### Output: [0,1]

In [ ]:
def twoSum(nums, target):

In [ ]:
twoSum([2,7,11,15], 9)

In [ ]:
twoSum([3,2,4], 6)

In [ ]:
twoSum([3,3], 6)

### Q10.